DATABASE_URL="postgresql://postgres:Simple@localhost:5432/iam_system?schema=public"
#  you can also use a remote cloud database, but this defaults to local.
# Example remote URL: postgresql://default:***@ep-cool-pool-12345.us-east-2.aws.neon.tech/neondb?sslmode=require

PORT=5000
JWT_SECRET="supersecret"
JWT_EXPIRES_IN="7d"

# Connection URI for the Redis caching store
REDIS_URL="redis://default:jtNGDzLokaDHuDugB5ipmH2ERt2gzzec@pleasure-sky-persuasive-98636.db.redis.io:15871"
# Fallback local URL if you run Redis locally:
# REDIS_URL="redis://127.0.0.1:6379"

FRONTEND_URL="http://localhost:5173"
